.App {
  text-align: center;
  background-color: white;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}
body{
  background-color: cadetblue;
}
.divButton{
  width: 70px;
  height: 70px;
  background-color: cadetblue;
  color: white;
  margin: 0px 0px 0px 0px;
}
.quoteBox{
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
.quoteBox p {
  color: rgb(7, 59, 61);
  font-weight: bold;
  font-size: 40px;
}
.quoteBox span{
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}